name: Tourist Customer Prediction MLS pipeline

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  register-dataset:
    runs-on: ubuntu-latest
    env:
      HF_TOKEN: ${{ secrets.HF_TOKEN }}
    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r tourist_customer_prediction_1212/requirements.txt

      - name: Upload Dataset to Hugging Face Hub
        run: |
          python tourist_customer_prediction_1212/model_building/data_register.py

  data_prep:
    needs: register-dataset
    runs-on: ubuntu-latest
    env:
      HF_TOKEN: ${{ secrets.HF_TOKEN }}
    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r tourist_customer_prediction_1212/requirements.txt

      - name: Run Data Preparation
        run: |
          python tourist_customer_prediction_1212/model_building/data_prep.py

  model_training:
    needs: data_prep
    runs-on: ubuntu-latest
    env:
      HF_TOKEN: ${{ secrets.HF_TOKEN }}
    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r tourist_customer_prediction_1212/requirements.txt
      - name: Start MLflow Server
        run: |
          nohup mlflow ui --host 0.0.0.0 --port 5000 &  # Run MLflow UI in the background
          sleep 5  # Wait for a moment to let the server starts

      - name: Train Model
        run: |
          python tourist_customer_prediction_1212/model_building/train.py

  deploy_hosting:
    needs: model_training
    runs-on: ubuntu-latest
    env:
      HF_TOKEN: ${{ secrets.HF_TOKEN }}
    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r tourist_customer_prediction_1212/requirements.txt

      - name: Push Hosting App
        run: |
          python tourist_customer_prediction_1212/hosting/hosting.py


